// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {
    display: flex;
    width: 80%;
    height: 400px;
    border: 1px solid #9b9797;
    margin: 10% 40% 10% 10%;
}

.signupLeft {
    width: 25%;
    height: 100%;
    
    & h2 {
        margin-top: 30px;
        text-align: center;
    }

    & p {
        margin-top: 50px;
        text-align: center;
    }
}

.center {
    width: 30%;
    height: 100%;
}

.signupRight {
    width: 45%;
    height: 100%;
    padding: 10px;

    & .field {
        margin:  auto;
    }
}

.field {
    margin: 5px 0 5px 20px;

    & img {
        width: 200px;
        height: 150px;
        margin-top: 50px;
    }
}

.action {
    margin: 20px 0 5px 20px;
}


.login {
    @extend .signup;
    width: 60%;
}

.loginLeft {
    width: 50%;
    height: 100%;
    padding-top: 5%;

    & > h2, p {
        text-align: center;
        margin: 20px auto;
    }
}

.loginRight {
    width: 50%;
    height: 100%;
    padding-top: 5%;

    & .field {
        margin: 5px 20px 5px 20%;

        & > label {
            font-size: 1.3em;
        }

        & > input {
            width: 100%;
        }
    }

    & .action {
        margin-left: 20%;
    }
}