// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signUp {
    display: flex;
    width: 80%;
    height: 40vh;
    border: 1px solid #9b9797;
    margin: 10% 40% 10% 10%;
}

.leftSide {
    width: 30%;
    height: 100%;
    
    & h2 {
        margin-top: 30px;
        text-align: center;
    }

    & p {
        margin-top: 50px;
        text-align: center;
    }
}

.rightSide {
    width: 70%;
    height: 100%;
    padding: 10px;
}